<h1>Your Ultimate Car Listing</h1>


<%= form_tag search_path, remote: true do %>
  <%= text_field_tag "car_brand", nil, placeholder: "try 'Toyota' " %>
  <%= text_field_tag "car_model", nil, placeholder: "try 'Camry' " %>

  <%= submit_tag "Search" %> <br/> <br/> <br/>
<%end%>


<%= link_to "Sell a Car", new_listing_path %> <br/>

<div id="vehicle_listings">

    <% @listings.each do |car| %>
      <br/>
      <%= car.car_brand %> <br/>
      <%= car.car_model %> <br/>
      <%= car.location_of_seller %> <br/>
      <i>RM</i> <%= car.price.to_i %> <br/>

      <%= link_to "Show me this car", listing_path(car) %> <br/>        <!-- (car) gives id for this listing-->
      <%= link_to "Delete listing", listing_path(car), method: :delete, data:{confirm: "Are you sure?"} %> <br/>

      <%= link_to "Edit post", edit_listing_path(car) %> <br/>

    <%end%>

</div>





